<div>
    <p>Hello {{ username }},</p>
    <p>A request has been made to change your email address from {{ oldEmail }} to {{ newEmail }}.</p>

    <p>Click here to validate the change: <a href="{{ changeUrl }}">{{ changeUrl }}</a></p>

    <p>If you did not make this change, please change your password immediately.</p>
    <p>Best regards,<br>The SilentiumChat Team</p>
</div>